<div class="container">
  <h1>System Access Request Form</h1>
</div>
<br>
<mat-card class="container">
  <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <mat-form-field class="col-md-6 col-sm-12">
        <input type="hidden" formControlName="id">
        <input matInput placeholder="First Name" formControlName="first_name" required>
      </mat-form-field>

      <mat-form-field class="col-md-6 col-sm-12">
        <input matInput placeholder="Last Name" formControlName="last_name" required>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-md-6 col-sm-12">
        <input matInput placeholder="Email" formControlName="email"  required>
        <mat-error *ngIf="requestForm.get('email').dirty && requestForm.get('email').hasError('email')">
          Please enter a valid email address.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6 col-sm-12">
        <input matInput placeholder="Manager" aria-label="Manager" formControlName="manager" [matAutocomplete]="auto" required>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option.name">
            {{ option.name }}
          </mat-option>
        </mat-autocomplete>
        <mat-hint>Please type in your manager's name and select from the Autocomplete list.</mat-hint>
        <mat-error *ngIf="requestForm.get('manager').dirty && requestForm.get('manager').hasError('notInList')">
          Please choose a manager from the list.
        </mat-error>
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="col-md-6 col-sm-12">
        <mat-label>Category</mat-label>
        <mat-select formControlName="category" multiple required>
          <mat-optgroup [label]="HQ">HQ
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{category.label}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-md-12">
        <button type="submit" mat-raised-button [disabled]="!requestForm.valid">Submit</button>
      </div>
    </div>
  </form>

  <br><br>

  <ngb-alert *ngIf="succeed === true" type="success" [dismissible]="false">Your request is submitted successfully. This page will refresh in 3 seconds.</ngb-alert>
  <ngb-alert *ngIf="succeed === false" type="danger" [dismissible]="false">There was something wrong in the system. Please try again or contact admin. This page will refresh in 3 seconds</ngb-alert>
</mat-card>

