<table width='100%' class="table table-striped">
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Category</th>
    <th>Manager</th>
    <th>Status</th>
    <th>Response</th>
  </tr>

  <tr *ngFor="let request of requests">
    <td>{{ request.id }}</td>
    <td>{{ request.first_name }}</td>
    <td>{{ request.last_name }}</td>
    <td>{{ request.email }}</td>
    <td>{{ request.category }}</td>
    <td>{{ request.manager }}</td>
    <td>{{ request.status }}</td>
    <td>
      <button (click)="requestApproved.emit(request)">Approve</button>
      <button (click)="requestDeclined.emit(request)">Decline</button>
    </td>
  </tr>
</table>