<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="statusChange.emit('pending')" [class.active]="status == 'pending'">Pending</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="statusChange.emit('approved')" [class.active]="status == 'approved'">Approved</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" (click)="statusChange.emit('declined')" [class.active]="status == 'declined'">Declined</a>
  </li>
</ul>

<br>

<table width='100%' class="table table-striped">
  <tr>
    <th scope="col" sortable="created_date" (sort)="onSort.emit($event)">Created Date</th>
    <th scope="col" sortable="first_name" (sort)="onSort.emit($event)">First Name</th>
    <th scope="col" sortable="last_name" (sort)="onSort.emit($event)">Last Name</th>
    <th>Email</th>
    <th>Category</th>
    <th>Manager</th>
    <th scope="col" sortable="status" (sort)="onSort($event)">Status</th>
    <th>Response</th>
  </tr>

  <tr *ngFor="let request of requests | async">
    <td>{{ request.created_date | date:'medium' }}</td>
    <td>{{ request.first_name }}</td>
    <td>{{ request.last_name }}</td>
    <td>{{ request.email }}</td>
    <td>{{ request.category }}</td>
    <td>{{ request.manager }}</td>
    <td>{{ request.status }}</td>
    <td>
      <button class="btn btn-success" (click)="requestApproved.emit(request)">Approve</button>
      &nbsp;
      <button class="btn btn-danger"(click)="requestDeclined.emit(request)">Decline</button>
    </td>
  </tr>
</table>