<div class="container">
    <h1>System Access Request Approval Dashboard</h1>
</div>
<br>
<mat-card  class="container">
    <h2 *ngIf="auth !== 'true'">Please log into <a href="https://mycarnegie.carnegiescience.edu">myCarnegie</a> first</h2>
    <h3 *ngIf="auth !== 'true'">Your email is: {{ user_email }}</h3>

    <br>
    <!--display requests if authed-->
    <app-request-list *ngIf="auth === 'true'"
            [requests]="requests$"
            [dashboardStatus]="dashboardStatus"
            (requestApproved)="approveRequest($event)"
            (requestDeclined)="declineRequest($event)"
            (statusChange)="changeStatus($event)"
            (onSort)="sortRequests($event)"
    >
    </app-request-list>
</mat-card >
