/* Import material theme css */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

/* Snackbar css */
.grant .mat-simple-snackbar, .approve .mat-simple-snackbar {
    color: green;
}
.decline .mat-simple-snackbar {
    color: red;
}
.mat-snack-bar-container {
    background: #fdfdfd;
}

/* Footer logo */
img.logo {
    max-width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

// material overlay select list
.cdk-overlay-container {
    div.mat-select-panel {
        max-height: 350px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
